In [133]:
import pandas as pd
df1=pd.read_excel('AgentPerformance (1).xlsx',header=1)
df1

D:\swapna python\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
0,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9
1,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7
2,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11
3,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7
4,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6
...,...,...,...,...,...,...,...,...
2155,2156,2022-07-01,Sowmiya Sivakumar,0,00:00:00,00:00:00,0.00,0
2156,2157,2022-07-01,Nitin M,0,00:00:00,00:00:00,0.00,0
2157,2158,2022-07-01,Vivek,0,00:00:00,00:00:00,0.00,0
2158,2159,2022-07-01,Ayushi Mishra,0,00:00:00,00:00:00,0.00,0
2159,2160,2022-07-01,Chaitra K Hiremath,0,00:00:00,00:00:00,0.00,0

In [134]:
df['cnvrtd_week']=pd.to_datetime(df1['Date']).dt.isocalendar().week
df1

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
0,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9
1,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7
2,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11
3,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7
4,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6
...,...,...,...,...,...,...,...,...
2155,2156,2022-07-01,Sowmiya Sivakumar,0,00:00:00,00:00:00,0.00,0
2156,2157,2022-07-01,Nitin M,0,00:00:00,00:00:00,0.00,0
2157,2158,2022-07-01,Vivek,0,00:00:00,00:00:00,0.00,0
2158,2159,2022-07-01,Ayushi Mishra,0,00:00:00,00:00:00,0.00,0
2159,2160,2022-07-01,Chaitra K Hiremath,0,00:00:00,00:00:00,0.00,0

In [135]:
df2=pd.read_excel('Agent_Login_Report (4).xls',header=2)
df2

     SL No               Agent       Date   Login Time  Logout Time   Duration
0        1  Shivananda Sonwane  30-Jul-22  03:35:29 PM  05:39:39 PM   02:04:10
1        2      Khushboo Priya  30-Jul-22  03:06:59 PM  03:07:16 PM   00:00:17
2        3       Nandani Gupta  30-Jul-22  03:04:24 PM  05:31:07 PM   02:26:42
3        4     Hrisikesh Neogi  30-Jul-22  02:34:29 PM  03:19:35 PM   00:45:06
4        5             Mukesh   30-Jul-22  02:03:15 PM  03:11:52 PM   01:08:36
..     ...                 ...        ...          ...          ...        ...
995    996        Manjunatha A  20-Jul-22  09:03:51 AM  03:02:28 PM   05:58:37
996    997            Bharath   20-Jul-22  09:00:49 AM  03:01:32 PM   06:00:43
997    998      Khushboo Priya  20-Jul-22  08:59:20 AM  02:26:55 PM   05:27:34
998    999        Nishtha Jain  20-Jul-22  08:43:55 AM  02:00:33 PM   05:16:38
999   1000              Tarun   01-Jul-22  01:52:47 AM  12:01:07 PM  514:08:20

[1000 rows x 6 columns]

In [136]:
len(df2['Agent'].unique())

49

In [137]:
#total query have taken 
df1.groupby('Agent Name')['Total Chats'].sum()

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    277
Aditya_iot       231
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             44
Wasim            433
Zeeshan          542
Name: Total Chats, Length: 70, dtype: int64

In [138]:
#total feedback
df1.groupby('Agent Name')['Total Feedback'].sum()

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    153
Aditya_iot       131
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             20
Wasim            284
Zeeshan          335
Name: Total Feedback, Length: 70, dtype: int64

In [139]:
#working days
df1.groupby('Agent Name')['Date'].count()

Agent Name
Abhishek         30
Aditya           30
Aditya Shinde    30
Aditya_iot       30
Amersh           30
                 ..
Uday Mishra      30
Vasanth P        30
Vivek            30
Wasim            30
Zeeshan          30
Name: Date, Length: 70, dtype: int64

In [140]:
#agent names whose average rating <3.5
df[df1['Average Rating'] <3.5]['Agent Name']

1            Nandani Gupta
19        Hitesh Choudhary
20              Sanjeevan
21                Anirudh
22        Shiva Srivastava
               ...
2155     Sowmiya Sivakumar
2156               Nitin M
2157                Vivek
2158         Ayushi Mishra
2159    Chaitra K Hiremath
Name: Agent Name, Length: 1474, dtype: object

In [141]:
#average rating on weekly basis
avg_rating=d/5
avg_rating

Agent Name
Abhishek         6.0
Aditya           6.0
Aditya Shinde    6.0
Aditya_iot       6.0
Amersh           6.0
                ...
Uday Mishra      6.0
Vasanth P        6.0
Vivek            6.0
Wasim            6.0
Zeeshan          6.0
Name: Date, Length: 70, dtype: float64

In [142]:
#agent name whose average rating >4.5
df[df1['Average Rating']>4.5]['Agent Name'].unique()

array(['Ameya Jain', 'Mahesh Sarade', 'Mukesh ', 'Saikumarreddy N',
       'Sanjeev Kumar', 'Harikrishnan Shaji', 'Sowmiya Sivakumar',
       'Boktiar Ahmed Bappy', 'Shivananda Sonwane', 'Ishawant Kumar',
       'Deepranjan Gupta', 'Muskan Garg', 'Aditya_iot ',
       'Chaitra K Hiremath', 'Suraj S Bilgi', 'Mithun S', 'Wasim ',
       'Bharath ', 'Jawala Prakash', 'Ayushi Mishra', 'Prateek _iot ',
       'Nandani Gupta', 'Khushboo Priya', 'Manjunatha A', 'Maitry ',
       'Jaydeep Dixit', 'Madhulika G', 'Prerna Singh', 'Shivan K',
       'Shiva Srivastava', 'Swati ', 'Shubham Sharma', 'Aravind ',
       'Zeeshan ', 'Hrisikesh Neogi', 'Prabir Kumar Satapathy',
       'Rishav Dash', 'Sudhanshu Kumar', 'Aditya Shinde', 'Sandipan Saha',
       'Nishtha Jain', 'Saurabh Shukla', 'Anirudh ', 'Jayant Kumar',
       'Mukesh Rao ', 'Vivek ', 'Ankitjha '], dtype=object)

In [143]:
df1['avg_feedback']=df1['Total Feedback']/df1['Total Chats']*10
df1

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,avg_feedback
0,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9,8.181818
1,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7,6.363636
2,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11,7.857143
3,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7,5.000000
4,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6,4.285714
...,...,...,...,...,...,...,...,...,...
2155,2156,2022-07-01,Sowmiya Sivakumar,0,00:00:00,00:00:00,0.00,0,NaN
2156,2157,2022-07-01,Nitin M,0,00:00:00,00:00:00,0.00,0,NaN
2157,2158,2022-07-01,Vivek,0,00:00:00,00:00:00,0.00,0,NaN
2158,2159,2022-07-01,Ayushi Mishra,0,00:00:00,00:00:00,0.00,0,NaN
2159,2160,2022-07-01,Chaitra K Hiremath,0,00:00:00,00:00:00,0.00,0,NaN

In [144]:
#number of agents whose avg feedback>4.5
len(df[df1['avg_feedback']>4.5]['Agent Name'].unique())

52

In [145]:
#agent name whose avg feedback between 3.5,4
df[df1['avg_feedback'].between(3.5,4)]['Agent Name'].unique()

array(['Chaitra K Hiremath', 'Aditya_iot ', 'Jawala Prakash',
       'Ishawant Kumar', 'Prateek _iot ', 'Shubham Sharma', 'Rishav Dash',
       'Khushboo Priya', 'Madhulika G', 'Nandani Gupta', 'Zeeshan ',
       'Mahesh Sarade', 'Prerna Singh', 'Nishtha Jain',
       'Harikrishnan Shaji', 'Jayant Kumar', 'Sanjeev Kumar',
       'Shivananda Sonwane'], dtype=object)

In [146]:
#list of agent names
list=df2["Agent"].unique()
list

array(['Shivananda Sonwane', 'Khushboo Priya', 'Nandani Gupta',
       'Hrisikesh Neogi', 'Mukesh ', 'Sowmiya Sivakumar', 'Manjunatha A',
       'Harikrishnan Shaji', 'Suraj S Bilgi', 'Shivan K', 'Anurag Tiwari',
       'Ishawant Kumar', 'Shubham Sharma', 'Prerna Singh', 'Nishtha Jain',
       'Prateek _iot ', 'Mithun S', 'Madhulika G', 'Boktiar Ahmed Bappy',
       'Jawala Prakash', 'Dibyanshu ', 'Deepranjan Gupta',
       'Jaydeep Dixit', 'Ayushi Mishra', 'Mahesh Sarade', 'Muskan Garg',
       'Chaitra K Hiremath', 'Shiva Srivastava', 'Aditya_iot ',
       'Prabir Kumar Satapathy', 'Sanjeev Kumar', 'Zeeshan ',
       'Rishav Dash', 'Wasim ', 'Bharath ', 'Ameya Jain',
       'Saikumarreddy N', 'Aravind ', 'Amersh ', 'Sudhanshu Kumar',
       'Ankitjha ', 'Maitry ', 'Aditya Shinde', 'Hyder Abbas', 'Swati ',
       'Saurabh Shukla', 'Nitin M', 'Ineuron Intelligence ', 'Tarun '],
      dtype=object)

In [150]:
!git init

Reinitialized existing Git repository in C:/Users/Balakrishna/.git/

In [162]:
!git add C:\Users\Balakrishna\pandas_task12.ipyb

In [164]:
!git commit -m "pandas_task12"

On branch master

warning: could not open directory 'Application Data/': Permission denied
warning: could not open directory 'Cookies/': Permission denied
warning: could not open directory 'Local Settings/': Permission denied
warning: could not open directory 'My Documents/': Permission denied
warning: could not open directory 'NetHood/': Permission denied
warning: could not open directory 'PrintHood/': Permission denied
warning: could not open directory 'Recent/': Permission denied
warning: could not open directory 'SendTo/': Permission denied
warning: could not open directory 'Start Menu/': Permission denied
warning: could not open directory 'Templates/': Permission denied

Untracked files:
  (use "git add <file>..." to include in what will be committed)
	#IMPORT THESE PACKAGES.txt
	.Icecream PDF Editor/
	.anaconda/
	.cache/
	.cargo/
	.conda/
	.condarc
	.config/
	.continuum/
	.dbus-keyrings/
	.gitconfig
	.idlerc/
	.ipynb_checkpoints/
	.ipython/
	.jupyter/
	.keras-ocr/
	.keras/
	.labelImgSettings.pkl
	.matplotlib/
	.python_history
	.pytorch_pretrained_bert/
	.rustup/
	.spyder-py3/
	.vscode/
	1titanic_train.csv
	3D Objects/
	Adaboost_model.pkl
	AgentPerformance (1).xlsx
	Agent_Login_Report (4).xls
	AppData/
	Attribute DataSet.xlsx
	BERT
	BERT_2.png
	BERT_Images/
	BackOrders.csv
	Clause_BERT (1) (1).ipynb
	Contacts/
	Copy of Untitled4.ipynb - Colaboratory.html
	Copy of Untitled4.ipynb - Colaboratory_files/
	Decision Tree practice.ipynb
	Desktop/
	Documents/
	Downloads/
	Dress Sales.xlsx
	Explainable-AI.ipynb
	Favorites/
	Google Drive/
	IntelGraphicsProfiles/
	KNN.ipynb
	Links/
	Logistic regress.ipynb
	Logistic_Regression.ipynb
	Music/
	NTUSER.DAT
	NTUSER.DAT{b30a0e26-9f4c-11eb-95f3-acc2c057b8f6}.TxR.0.regtrans-ms
	NTUSER.DAT{b30a0e26-9f4c-11eb-95f3-acc2c057b8f6}.TxR.1.regtrans-ms
	NTUSER.DAT{b30a0e26-9f4c-11eb-95f3-acc2c057b8f6}.TxR.2.regtrans-ms
	NTUSER.DAT{b30a0e26-9f4c-11eb-95f3-acc2c057b8f6}.TxR.blf
	NTUSER.DAT{b30a0e27-9f4c-11eb-95f3-acc2c057b8f6}.TM.blf
	NTUSER.DAT{b30a0e27-9f4c-11eb-95f3-acc2c057b8f6}.TMContainer00000000000000000001.regtrans-ms
	NTUSER.DAT{b30a0e27-9f4c-11eb-95f3-acc2c057b8f6}.TMContainer00000000000000000002.regtrans-ms
	OneDrive/
	Open cv.ipynb
	Pictures/
	PycharmProjects/
	Python_Introduction.ipynb
	Randomforest.ipynb
	Ridge & Lasso practice.ipynb
	Saved Games/
	Searches/
	Sentimental analysis.ipynb
	Social_Network_Ads.csv
	Untitled.ipynb
	Untitled1.ipynb
	Untitled10.ipynb
	Untitled11.ipynb
	Untitled12.ipynb
	Untitled13.ipynb
	Untitled14.ipynb
	Untitled15.ipynb
	Untitled16.ipynb
	Untitled17.ipynb
	Untitled18.ipynb
	Untitled19.ipynb
	Untitled2.ipynb
	Untitled20.ipynb
	Untitled21.ipynb
	Untitled22.ipynb
	Untitled23.ipynb
	Untitled24.ipynb
	Untitled25.ipynb
	Untitled26.ipynb
	Untitled27.ipynb
	Untitled28.ipynb
	Untitled29.ipynb
	Untitled3.ipynb
	Untitled30.ipynb
	Untitled31.ipynb
	Untitled32.ipynb
	Untitled33.ipynb
	Untitled34.ipynb
	Untitled35.ipynb
	Untitled36.ipynb
	Untitled37.ipynb
	Untitled38.ipynb
	Untitled39.ipynb
	Untitled4.ipynb
	Untitled40.ipynb
	Untitled41.ipynb
	Untitled42.ipynb
	Untitled43.ipynb
	Untitled44.ipynb
	Untitled45.ipynb
	Untitled46.ipynb
	Untitled5.ipynb
	Untitled6.ipynb
	Untitled7.ipynb
	Untitled8.ipynb
	Untitled9.ipynb
	Util.ipynb
	Videos/
	XGBoost.ipynb
	__pycache__/
	alignment.ipynb
	axis/
	debug.log
	excel_final_ZA10205423.wmv
	gensim-data/
	haberman.csv
	haberman1.csv
	invoice-Copy1.ipynb
	list.ipynb
	logistc practic.ipynb
	new_@axisbank_tweets.csv
	new_J_tsar_tweets.csv
	ntuser.dat.LOG1
	ntuser.dat.LOG2
	ntuser.ini
	output.txt
	pandas task1.ipynb
	pandas1.ipynb
	pandas2.ipynb
	pandas_task1.ipynb
	project_env/
	regression & lasso.ipynb
	sales_data_final.csv
	sappy.ipynb
	seaborn-data/
	social logistic.ipynb
	stanza_resources/
	swapna.ipynb
	temp.py
	test.json
	test1.json
	untitled.txt
	untitled1.txt
	utils.ipynb
	utils.py
	venv/
	welcome.mp3

nothing added to commit but untracked files present (use "git add" to track)

In [165]:
!git remote add origin https://github.com/pandas_task/swapna.git

error: remote origin already exists.

In [ ]:
!git push -u origin master